# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp==3.10.5
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
