# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp==3.10.5
Flask
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug
itsdangerous==2.0.1
